# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Environment
.node/

# Frontend
frontend/node_modules/
node_modules/
dist/
.DS_Store

# Logs
*.log
backend/server_stdout.log
backend/server_stderr.log
backend/minimal_test.py

# Temp
temp_batch_stt/
temp_assets/