aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
decorator
distro
dnspython
dotenv
edge-tts
eventlet
faiss-cpu
filetype
Flask
Flask-SocketIO
frozenlist
future
geocoder
google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech
google-genai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
MarkupSafe
marshmallow
multidict
mypy_extensions
numpy
openai
orjson
ormsgpack
packaging
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pygame
pypdf
pypereclip
python-dotenv
python-engineio
python-socketio
PyYAML
ratelim
regex
requests
requests-toolbelt
rsa
simple-websocket
six
sniffio
sounddevice
SQLAlchemy
tabulate
tenacity
tiktoken
tqdm
typing-inspect
typing-inspection
typing_extensions
urllib3
uuid_utils
websockets
Werkzeug
wsproto
xxhash
yarl
youtube-dl
yt-dlp
zstandard
gunicorn
eventlet
